{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div id="container">
        <!-- DEBUT SECTION -->
        <div id="section">
            <div id="cadre">
                <div>
                    <img src="{% static 'images/photo_profil.jpg' %}" alt="Photo de profil" id="photo_profil">
                    <p>
                        <br>
                        <strong id="name_nickname" class="color_white">Gascon Mickael</strong>
                        <br><br>
                        <p class="color_gold">
                            Developpeur Python
                        </p>
                    </p>
                </div>
            </div>
            <div id="competence">
                <div class="marg_10">
                    <span class="left color_gold">Residence :</span><span class="right color_white">France</span>
                </div>
                <br>
                <div class="marg_10">
                    <span class="left color_gold">Ville :</span><span class="right color_white">Lyon</span>
                </div>
                <br>
                <div class="marg_10">
                    <span class="left color_gold">Age :</span><span class="right color_white">23</span>
                </div>
                <br>
                <div class="line_competence"></div>
                <span class="left color_gold">html</span><span class="right color_white" >90 %</span>
                <br>
                <div class="b3">
                    <div style="width: 90%;"></div>
                </div>
                <br>
                <span class="left color_gold">CSS</span><span class="right color_white">45 %</span>
                <br>
                <div class="b3">
                    <div style="width: 45%;"></div>
                </div>
                <br>
                <span class="left color_gold">Js</span><span class="right color_white">40 %</span>
                <br>
                <div class="b3">
                    <div style="width: 40%;"></div>
                </div>
                <br>
                <span class="left color_gold">Python</span><span class="right color_white">70%</span>
                <br>
                <div class="b3">
                    <div style="width: 70%;"></div>
                </div>
                <br>
                <span class="left color_gold">SQL</span><span class="right color_white">55%</span>
                <br>
                <div class="b3">
                    <div style="width: 55%;"></div>
                </div>
                <div class="line_competence"></div>
                <p class="checked">&#10003; <span>Git, GitHub</span></p>
                <p class="checked">&#10003; <span>Django</span></p>
                <div class="line_competence"></div>
                <a href="{% static 'images/patate.jpg' %}" download id="link_download" class="color_gold">DOWNLOAD CV<img class="ico_dow" src="{% static 'images/ico_download.svg' %}" alt="Icone de telechargement en mouvement"></img></a>
            </div>
            <nav id="publicite">
                <a href="https://www.linkedin.com/in/micka%C3%ABl-gascon-0999a7224/" target="_blank"><img class="ico_dow" src="{% static 'images/ico_linkedin.svg' %}" alt="Icone de linkedin"></img></a>
                <a href="https://github.com/Atilian" target="_blank"><img class="ico_dow" src="{% static 'images/ico_github.svg' %}" alt="Icone de github"></img></a>
                <a href="https://twitter.com/MickaelGascon" target="_blank"><img class="ico_dow" src="{% static 'images/ico_twitter.svg' %}" alt="Icone de twitter"></img></a>
            </nav>
        </div>
        <!-- FIN SECTION -->
        <!-- DEBUT MAIN -->
        <div id="main">
            <div id="body">
                Body
            </div>
            <div id="author">
                <span>© 2021 Gascon Mickael</span>
            </div>
        </div>
        <!-- FIN MAIN -->
        <!-- DEBUT PARAMETRE -->
        <div id="navigation">
            <input id="button_navigation" type="image" src="{% static 'images/button_navigation.svg' %}"></input>
            <input id="button_settings" type="image" src="{% static 'images/button_settings.svg' %}">
        </div>
        <!-- FIN PARAMETRE -->
    </div>
<script src="{% static 'js/app.js' %}"></script>
</body>

</html>