{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="container">
        <!-- DEBUT SECTION -->
        <div class="section">
            <div class="cadre">
                <div>
                    <img src="{% static 'images/photo_profil.jpg' %}" alt="Photo de profil" id="photo_profil">
                    <p>
                        <br>
                        <strong class="color_white">Gascon Mickael</strong>
                        <br><br>
                        <p class="color_gold">
                            Developpeur Python
                        </p>
                    </p>
                </div>
            </div>
            <div class="competence">
                <div class="marg_10">
                    <span class="left color_gold">Residence :</span><span class="right color_white">France</span>
                </div>
                <br>
                <div class="marg_10">
                    <span class="left color_gold">Ville :</span><span class="right color_white">Lyon</span>
                </div>
                <br>
                <div class="marg_10">
                    <span class="left color_gold">Age :</span><span class="right color_white">23</span>
                </div>
                <br><br>
                <div class="line_competence"></div>
                <br><br>
                <span class="left color_gold">html</span><span class="right color_white" >90 %</span>
                <br>
                <div class="b3">
                    <div style="width: 90%;"></div>
                </div>
                <br>
                <span class="left color_gold">CSS</span><span class="right color_white">45 %</span>
                <br>
                <div class="b3">
                    <div style="width: 45%;"></div>
                </div>
                <br>
                <span class="left color_gold">Js</span><span class="right color_white">40 %</span>
                <br>
                <div class="b3">
                    <div style="width: 40%;"></div>
                </div>
                <br>
                <span class="left color_gold">Python</span><span class="right color_white">70%</span>
                <br>
                <div class="b3">
                    <div style="width: 70%;"></div>
                </div>
                <br>
                <span class="left color_gold">SQL</span><span class="right color_white">55%</span>
                <br>
                <div class="b3">
                    <div style="width: 55%;"></div>
                </div>
                <br><br>
                <div class="line_competence"></div>
                <br>
                <p class="checked">&#10003; <span class="col_creme">Git, GitHub</span></p>
                <p class="checked">&#10003; <span class="col_creme">Django</span></p>
                <br><br>
                <div class="line_competence"></div>
                <br>
                <a href="{% static 'images/patate.jpg' %}" download class="link_download color_gold">DOWNLOAD CV<img class="ico_dow" src="{% static 'images/ico_download.svg' %}" alt="Icone de telechargement en mouvement"></img></a>
            </div>
            <div class="publicite">
                <a href="{% static 'images/patate.jpg' %}"><img class="ico_dow" src="{% static 'images/ico_linkedin.svg' %}" alt="Icone de linkedin"></img></a>
                <a href="{% static 'images/patate.jpg' %}"><img class="ico_dow" src="{% static 'images/ico_github.svg' %}" alt="Icone de github"></img></a>
                <a href="{% static 'images/patate.jpg' %}"><img class="ico_dow" src="{% static 'images/ico_twitter.svg' %}" alt="Icone de twitter"></img></a>
            </div>
        </div>
        <!-- FIN SECTION -->
        <!-- DEBUT MAIN -->
        <div class="main">
            <div class="body">
                Body
            </div>
            <div class="author">
                <span>© 2021 Gascon Mickael</span><span></span>
            </div>
        </div>
        <!-- FIN MAIN -->
        <!-- DEBUT PARAMETRE -->
        <div class="parametre">
            Parametre
        </div>
        <!-- FIN PARAMETRE -->
    </div>
</body>

</html>